body {
    background-color: #128C7E;
}

.container {
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.content {
    border: none;
    border-radius: 24px;
    background-color: aliceblue;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    width: 500px;
    padding: 16px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.top img {
    position: static;
    width: 30%;
    top: 16px;

}

.titulo-page {
    margin-top: 24px;
    color: aliceblue;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.subtitulo-page {
    margin: 16px;
    color: aliceblue;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.formulário {
    display: flex;
    flex-direction: column;
}

.titulo-label {
    margin-top: 24px;
    font-weight: 600;
}

.telefone {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    width: auto;
    height: 32px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
    padding: 8px 16px;
}
.telefone::placeholder{
   color: #8e8e8e;
}

.campo-texto {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
    padding: 16px;
}
.campo-texto::placeholder{
   color: #8e8e8e;
}

.btn {
    margin-top: 16px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 24px;
    color: aliceblue;
    background-color: #128C7E;
    width: 150px;
    height: 32px;
}

@media screen and (max-width:720px) {
    img {
        width: 120px;
    }
    .content {
        width: 250px;
    }
    textarea {
        height: 180px;
    }
    .titulo-page {
        font-size: 20px;
    }
    .subtitulo-page {
        font-size: 14px;
        font-weight: 300;
    }
}

::-webkit-input-placeholder {
    color: rgb(7, 60, 7);
    padding-left: 8px;
}

.campo-texto::-webkit-input-placeholder {
    color: rgb(7, 60, 7);
    padding-top: 8px;
    font-size: 16px;
}

input:-moz-placeholder {
    color: rgb(7, 60, 7);
}

textarea:-moz-placeholder {
    color: rgb(7, 60, 7);
}
.campolink{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#00584e;
    background-color: #a3fff4;
    padding: 16px;
    margin: 16px 8px;
    border-radius: 8px;
}
.copiarItens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#linkwhatsapp{
    width: 100%;
    display: flex;
    overflow: hidden;
}
.btn-copiar{
    cursor: pointer!important;
    margin-top: 0px !important;
    z-index: 2;
}
.btn-copiado{
    background-color: white;
    color: #00584e;
}
.btn-desable{
    opacity:.2 ;
    background-color: #5d5d5d !important;
}